.button{
    -fx-font-weight: bold;
    -fx-background-image: url("/images/TragaPerras/button.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color:transparent;

    -fx-background-radius: 2em;
    -fx-text-fill: white;
}

.button:hover{
	-fx-opacity:0.5;
}

.root{
	-fx-background-image: url("/images/CubeTower/fondo.jpg");
}
.juego{
	-fx-border-color:black;
	-fx-border-radius: 1em;
	-fx-border-width:2, 2;
}
pane{
	-fx-background-color: #2F302F;
	-fx-border-radius: 1em;
}