.root {
    -fx-background-image: url("/images/TragaPerras/fondo.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.fondito {
    -fx-background-color: white;
}

.button{
    -fx-background-image: url("/images/TragaPerras/button.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-radius: 22% 22% 22% 22%;
    -fx-text-fill: white;
}