.root {
    -fx-background-image: url("../../images/TragaPerras/fondo.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    
}

.fondito {
    -fx-background-color: white;
}

.button{
    -fx-background-image: url("../../images/TragaPerras/button.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color:transparent;

    -fx-background-radius: 1em;
    -fx-text-fill: white;
}

.text-field{
	-fx-text-fill: white;
	-fx-background-color: black;
	-fx-background-radius: 2em;
	-fx-border-color:#E5A65E;
	-fx-border-radius: 1em;
	-fx-border-width:2, 2;
}