.root{
    -fx-background-image: url("../../images/Menu/fondo.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-family:Elephant;
}

@font-face{
	font-family:Elephant;
}

.button{
    -fx-font-weight: bold;
    -fx-background-image: url("../../images/TragaPerras/button.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color:transparent;

    -fx-background-radius: 2em;
    -fx-text-fill: white;
}

.button:hover{
	-fx-background-size:102%;
}

.button:pressed{
	-fx-opacity:0.5;
}

.downloadButton{
    -fx-background-color: rgb(251, 73, 73);
    -fx-padding: 0.8em ;
}

.uploadButton{
    -fx-background-color: rgb(69, 110, 245);
    -fx-padding: 0.8em ;

}

.backButton{
    -fx-font-weight: bold;
}

.label{
    -fx-font-weight: bold;
    -fx-text-fill: rgb(255, 255, 255);
}

.sliderVolumen{
	-fx-control-inner-background: #E5A65E; 
}
